# Ignore environment files
.env
.env.*

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
venv/
venv/*

cache/
cache/*

src/utils/patterns_postprocessing
geo/cache
geo/cache
# DO NOT SHARE ADDRESSES FROM API
geo/api
old/
output.json
.DS_Store


src/utils/adresses*