# Ignore environment files
.env
.env.*

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environments
thesis/
myenv/


.DS_Store

DATA/*
NEW/*
# includes extracted components
missing_people_project-prototypes/DATA/*
missing_people_project-prototypes/